<footer class="bg-bunker-950/50 border-t border-t-bunker-500/20 mt-96">
  <div class="text-center py-6 container max-w-xl mx-auto">
    <p>© 2022 Gabriel Vallés. Todos los derechos reservados.</p>
  </div>
</footer>
