---
import { getCollection } from "astro:content";
import PostCard from "./PostCard.astro";
const allPosts = await getCollection("posts");
---

<main class="px-8 max-w-xl mx-auto grid grid-cols-1 md:container md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
  {allPosts.map((post) => <PostCard post={post} />)}
  {allPosts.map((post) => <PostCard post={post} />)}
</main>
