---
import SearchInput from "./SearchInput.astro";
---

<div class="px-8 container max-w-xl mx-auto flex flex-col justify-center items-center min-h-[500px]">
  <h1 class="font-bold text-4xl text-bunker-50">Gabriel Vallés Blog</h1>

  <div class="mt-12 w-full">
    <SearchInput />
  </div>
</div>
