---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Navigation />
  <main class="container max-w-3xl mx-auto px-8 mt-36">
    <slot />
  </main>
</BaseLayout>
